body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    display: flex;
}

.sidebar {
    width: 220px;
    background-color: #007E7A;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 100vh;
}

.sidebar button {
    background: white;
    color: #007E7A;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.sidebar button:hover {
    background: #0ABB98;
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 60%;
}

input, select, button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #007E7A;
    color: white;
    font-weight: bold;
}

button:hover {
    background: #0ABB98;
}
.botoes-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.btn, .btn-voltar {
    min-width: 150px;
}
